{% extends "home/base.html" %}
{% load static %}
{% block links %}

	<link rel="stylesheet" href="{% static 'home/css/authors.css' %}">

{% endblock links %}
{% block content %}

	{% for item in items %}
		<a href="/home/exactauthor/{{ item.id }}" class="cov">
			<div class="item">
				<div class="imgcover">
					<img src="/static/home/image/authors/{{item.img}}.jpg">
				</div>
				<div class="infocover">
					<h2>{{ item.name }}</h2>
					<p>{{ item.born|date:"F d, Y" }} - {{ item.dead|date:"F d, Y" }}</p>
					<p>{{ item.land }}</p>
				</div>
			</div>
		</a>
	{% endfor %}

{% endblock content %}