{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    {% block links %}{% endblock links %}
</head>
<body>

    <header>
        <nav id="navbar">
            <span><a href="{% url 'home-home' %}">alippe&trade;</a></span>
            <span><a href="{% url 'user-register' %}">register</a></span>
            <span><a href="{% url 'user-login' %}">login</a></span>
            <span><a href="{% url 'home-about' %}">about us</a></span>
            <span><a href="{% url 'home-authors' %}">authors</a></span>
            <span><a href="{% url 'home-books' %}">books</a></span>
        </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

	<div id="cont">
		{% block content %}{% endblock content %}
	</div>

    <div id="top" onclick="topFunction()">
        <svg height="1792" viewBox="0 0 1792 1792" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M1293 1139l102-102q19-19 19-45t-19-45l-454-454q-19-19-45-19t-45 19l-454 454q-19 19-19 45t19 45l102 102q19 19 45 19t45-19l307-307 307 307q19 19 45 19t45-19zm371-243q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
    </div>

    <script src="{% static 'home/javascript/jquery.js' %}"></script>
    <script src="{% static 'home/javascript/main.js' %}"></script>

</body>
</html>