{% extends "home/base.html" %}
{% load static %}
{% block links %}

	<link rel="stylesheet" href="{% static 'home/css/books.css' %}">

{% endblock links %}
{% block content %}

	{% for item in items %}
		<a href="/home/exactbook/{{ item.id }}">
			<div class="item">
				<div class="imgcover">
					<img src="/static/home/image/books/{{item.img}}.jpg">
				</div>
				<div class="infocover">
					<h2>{{ item.name }}</h2>
					<p>{{ item.author }}</p>
					<p>{{ item.written }} - {{ item.genre }}</p>
					<p>{{ item.country }}</p>
				</div>
			</div>
		</a>
	{% endfor %}

{% endblock content %}