{% extends "home/base.html" %}
{% load static %}
{% block links %}

	<link rel="stylesheet" href="{% static 'home/css/exactbook.css' %}">

{% endblock links %}
{% block content %}

	<div class="item">
		<div class="imgcover">
			<img src="/static/home/image/books/{{item.img}}.jpg">
		</div>
		<div class="infocover">
			<h2>{{ item.name }}</h2>
			<p>{{ item.author }}</p>
			<p>{{ item.written }} - {{ item.genre }}</p>
			<p>{{ item.country }}</p>
		</div>
	</div>
	<p>{{ item.demo }}</p>
	<br>
	<br>
	<a href="/static/home/books_pdf/{{item.full}}" download>
		<button class="btn">
			<i class="fa fa-download"></i>&emsp;Download " {{ item.name }} "
		</button>
	</a>

{% endblock content %}