{% extends "home/base.html" %}
{% block content %}

	<h1>IMPORTANCE OF READING BOOKS IN OUR LIFE</h1>
	<small>by VIJAY KUMAR</small>
	<p>Books are the mystery of human creativity. Books play an important role of a teacher, guide, and friend in our life. Without books life is impossible. Books share our pain, books guide to use to lead future with confidence.</p>
	<p>Books explore creativity and clarity in student’s minds. Books are teaching tools for teachers. Books library is a sea of knowledge for lifetime learners. Reading books make our life fresh and active each day. Reading books every day is as important as bathing. I love to read books and I am not able to imagine this world without books.</p>
	<p>Books explore our past, present, and future. We can create and imagine better future during reading books. We can solve millions of present time problems while reading books. We can analyze our past after during and after reading books.</p>
	<p>Books are with us from school times. Books never die. Books will exist till the end of this world. Only books can feel our pain and happiness. That’s how books play an important role in our life.</p>
	<p>Books increase our focus in life. We become focused on our life and career goals during reading books. When you learn, you think less and receive more. Your brain starts working on new words and beliefs.</p>
	<p>That’ increases and builds new cells in the brain. Then fresh cells in our body make us confident focused and balance our thought process in mind. That’s why I think books are not only a teacher but also a medicine.</p>
	<p>If you want to test this method then try following methods:</p>
	<p>“Whenever you feel angry, confused, nervous, and negative and stress, just open and read any practical books, such as poetry, essays, motivational, investment, business books. You will find and got relief and become positive, focused, energetic and creative.</p>
	<p>I suggest you few things to implement in this practical approach. You can read before you sleep and after lunch (in between 1 PM to 4 PM).</p>
	<p>And if you want to study for competitive exams then learn in the garden, below trees, or near the waterfall, or learn by walking in garden or safe place. It’s amazing to experience.</p>
	<p>I can’t explain here, but study or learn books with nature will give you amazing results in exams, career, and life.”</p>
	<p>The above practical explanation on reading books is my personal practices that I did and do various times.</p>
	<p>If you feel that you’re unable to focus on reading books and study then try to sit in the garden, in tees, or above trees or near natural resources (safe place), try and practice few days, And I am fully confident that you will get amazing results and you will start getting focus on reading automatically without any doctor or medicine.</p>
	<p>That’s why I told various times that good and (nature-friendly) healthy learning environment has a great power.</p>
	<p>That’s why books along with nature are important in our life.</p>
	<p>Books align us towards our career and life goals. Reading books is natural therapy to reduce stress and balance our thought process. I don’t know why many people don’t read books and why not they understand the importance of reading books.</p>
	<p>I will be sharing my one evening communication with books. Also the benefits we all can get by reading books every day.  This article is good for students, kids to self-analyze the importance of books in their life.</p>
	<p>I realized the importance of books once again. When my books started talking about me in the cupboard. My early childhood life is with books. Hundreds of books I already read till today. Books are always with me. Books are like friends to me. I am a habitual reader and I don’t feel complete without books.</p>
	<p>Slowly I am going away from my books because I am busy with work.  From last few years, I was only able to spend less time with books.  I love my books. They are always near to me.</p>
	<p>One evening I was sitting in the room and thinking about business. Suddenly I heard communication of my books in a cupboard.  In the first feel, I ignored the sounds. I had never imagined such things. It was scary! Isn’t? I was quiet and tried to listen what they were talking about? I never heard them before.  Oh my God!  They were talking about me. They were in grief because of me. I didn’t open and read any one of these from a while. They were missing me.</p>
	<p>I opened the cupboard and they fall on me. They were showing great love for me. They were looking to hug me like cucumber plants climb on trees. They were little dusty. First I removed the dust from them. Then I hugged them. I started feeling the fragrance of books. That was amazing.</p>
	<p>I closed my eyes and then we started to talk. They asked me why I am not reading them.  Why you forget our love? They said to me. They were showing anger and felt very sad. I was not able to speak. So, we both get silent.</p>
	<p>Then I talked about my situation and problem with them. Books treated me like a kid and inspired me to read again. They memorize my childhood time I spend with them.</p>
	<p>I got few lessons from books that I am definitely going to include in my business, career and daily schedule. I promised to books that I am going to read them daily. I also promised that I will add more members in your family. I promised that I will be going to suggest other to read books daily and make reading one of their habits.</p>
	<p>So, finally my books smiled and I feel the amazing holy power inside me. It was never there before this incident. These books told me some lessons about the importance and benefits that I am now sharing with you.</p>
	<h3>1. Books give us more data, information, and knowledge</h3>
	<p>Books told me that habits of reading daily help you to get more information and data. That combination of data and information will give you the knowledge that you can use in your business and career.</p>
	<p>Whatever you read daily it will keep updating the knowledge inside you. That’s why reading books is a really important source of knowledge and that help you become successful in any field you’re working on.</p>
	<h3>2. Books help us to become Rich in life</h3>
	<p>Books told me that because of us many people are rich. Some by reading books and some by writing. Thousands of bookstore or eBook selling websites and their families rely on us. Many writers still creating new family members.</p>
	<p>E-Book is our new generation. Blogs and articles are part of our family. No matter you like to read in printable form or like to read on Kindle. That’s OK! I was fully convinced that there are thousands of writer writing books and billions of people reading them. That’s the power of books. And now I think you also start realizing the importance of books in life.</p>
	<h3>3. Reading books is important to achieve goals in life.</h3>
	<p>Books align your brain in the direction of your goals in life. It’s common that in the virtual world there are various types of information that brain is eating daily. Some information makes you negative and some will distract you from your goals.</p>
	<p>When you start reading good books related to your career or business or goals they will align your brain by positive bribes towards your goals. Reading motivational books help and increase focus. And focus and confidence help in career development and to achieve goals in life.</p>
	<h3>4. Books are important to read to  reduce the stress without medicine</h3>
	<p>Whenever you’re looking for peace of mind and silence then start reading your favourite books and it will immediately remove the stress. No matter it is projected deadline pressure, stress in a relationship or any kind.</p>
	<p>It is because you’re learning and diving into the thoughts of writers. Writers have different mental level and a different method of thinking for the same reason. They shared it in form of books, articles or banners and it enables your brain to think differently.</p>
	<h3>5. Books guide, teach and share our pain with like a good friend</h3>
	<p>Books play a big role as a friend of a human being. Whenever you feel alone and dominated get a book and start learning. It will immediately start communicating with you. If you’re sad they will make you happy and give bet compassion.</p>
	<p>Whenever we look for guide or teacher books helps us. Books are really a God for a human. As you know Saraswati (Sanskrit: सरस्वती, Sarasvatī) is the Hindu goddess of knowledge, music, arts, wisdom, and learning and we can get all these types of knowledge from books.</p>
	<h3>6. Reading books improve vocabulary</h3>
	<p>Books improve our communication skills. Books help students or to express thoughts in a speech that required lots of words in the vocabulary. The more we read the more new words our brain start gaining new words and adding into the vocabulary folder of your brain. It will help you when you start talking or writing. You will never feel the shortage of words in your brain.</p>
	<h3>7. Book is important to read to get success in career</h3>
	<p>Creativity, imagination, and thinking play a great role in our career. Creativity is really important to be known as different. Doing something differently explore our imagination and we start thinking deep (critical, analytical). This is not possible without reading and learning.</p>
	<p>In books, nobles, and articles, writer opens the creative doors of your brain. The words and images of writer start reflecting in you. Every new line will take you to the world of imagination. That’s the focus of many writers. Because as you know imagination is more powerful than knowledge. And knowledge makes you great!</p>
	<p>Etc.</p>
	<p>That’s what books told me about the importance of reading them daily. That’s why I promised with books that I will start reading daily.  I will never ignore learning from you. Learn 1-2 hours daily before sleeping. You can read eBooks, articles or blogs or printed version of ours. We all are one. And we all are to educate you. We make you better human being. We help you to become you.</p>
	<p>So, friends as you now know the importance of education in life very well, I think you should read books and make it your daily habits. The above reason I hope explored the reasons behind why you should read every day.</p>
	<br>
	<p>When you know about the benefits of reading, you should spread the word about it with others. If you’re a parent then when you read books in front of children then they will also learn from you. And it’s really important for children to read books. It’s tough to teach kids to read books without learning or reading in front of them.</p>
	<p>Reading books is also the best habit that followed by many successful people. And also as you can see some adults and habitual readers have a sharp mind and great memorizing power etc.</p>
	<p>So, friends start reading books and think about the importance before your books start talking about you in the cupboard.</p>
	<br>
	<blockquote>“Learning gives creativity – Creativity leads to thinking
	Thinking provides knowledge – Knowledge makes you great.”
	</blockquote>
	<small>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;- A.P.J. Abdul Kalam</small>

{% endblock content %}