html {
  scroll-behavior: smooth;
}
body{
	background-color: #F6F5F7;
	margin: 0;
	padding: 0;
}
header{
	position: relative;
	display: block;
	height: 500px;
	width: 100%;
	background-image: url('../image/bg-1.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 0 60px #282828;
	animation: chbg 30s 3s infinite;
}
@keyframes chbg {
  0% {background-image:  url('../image/bg-1.jpg')}
  5% {background-image:  url('../image/bg-1.jpg')}
  10% {background-image:  url('../image/bg-2.jpg')}
  15% {background-image:  url('../image/bg-2.jpg')}
  20% {background-image:  url('../image/bg-2.jpg')}
  25% {background-image:  url('../image/bg-2.jpg')}
  30% {background-image:  url('../image/bg-3.jpg')}
  35% {background-image:  url('../image/bg-3.jpg')}
  40% {background-image:  url('../image/bg-3.jpg')}
  45% {background-image:  url('../image/bg-3.jpg')}
  50% {background-image:  url('../image/bg-4.jpg')}
  55% {background-image:  url('../image/bg-4.jpg')}
  60% {background-image:  url('../image/bg-4.jpg')}
  65% {background-image:  url('../image/bg-4.jpg')}
  70% {background-image:  url('../image/bg-5.jpg')}
  75% {background-image:  url('../image/bg-5.jpg')}
  80% {background-image:  url('../image/bg-5.jpg')}
  85% {background-image:  url('../image/bg-5.jpg')}
  90% {background-image:  url('../image/bg-5.jpg')}
  95% {background-image:  url('../image/bg-1.jpg')}
  100% {background-image:  url('../image/bg-1.jpg')}
}
header>nav{
	position: fixed;
	display: block;
	height: 60px;
	width: 100%;
	transition: 1s;
	z-index: 1;
}
header>nav>span{
	position: relative;
	display: inline-block;
	height: 40px;
	width: auto;
	float: right;
	margin: 10px 30px;
	text-align: center;
	vertical-align: middle;
}
header>nav>span:first-child{
	float: left;
}
header>nav>span>a{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Actor';
	line-height: 114%;
	color: #FBF9F9;
	font-weight: 2px;
	transition: 0.2s;
}
header>nav>span>a:hover{
	font-weight: bold;
}
header>nav>span:first-child>a{
	font-size: 66px;
	text-transform: uppercase;
	font-family: 'Bahiana';
	line-height: 72%;
	font-weight: normal;
}
header>nav>span:first-child>a:hover{
	color: #A0F7F4;
}
#top{
	position: fixed;
	display: none;
	right: 20px;
	bottom: 20px;
	height: 60px;
	width: 60px;
	transition: 1s;
	z-index: 15;
}
#top>svg{
	height: 100%;
	width: 100%;
	cursor: pointer;
}

#cont{
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 20px 100px;
	font-family: 'Abel';
	font-size: 26px;
	text-align: justify;
}