a{
	text-decoration: none;
	color: #191919;
}
.item{
	height: 260px;
	width: 100%;
	margin: 40px 0px;
	overflow: hidden;
}
.item:hover{
	box-shadow: 0 0 40px #727272;
}
.item>div{
	float: left;
}
.imgcover{
	position: relative;
	height: 260px;
	width: 180px;
	background-color: #FADBFF;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.imgcover>img{
	height: 100%;
	width: 100%;
}
.infocover{
	position: relative;
	display: inline-block;
	padding-left: 35px;
}