.item{
	height: 260px;
	width: 100%;
	margin: 40px 0px;
	overflow: hidden;
}
.item>div{
	float: left;
}
.imgcover{
	position: relative;
	height: 260px;
	width: 180px;
	background-color: #FADBFF;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.imgcover>img{
	height: 100%;
	width: 100%;
}
.infocover{
	position: relative;
	display: inline-block;
	padding-left: 35px;
}
.btn {
  background-color: #20bf6b;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: #26de81;
  box-shadow: 0 0 20px #E2E2E2;
}