{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block links %}

	<link rel="stylesheet" href="{% static 'user/css/register.css' %}">

{% endblock links %}
{% block content %}

	<div class="reg-form">
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit">Register</button>
		</form>
		<div>Have an account? <a href="{% url 'user-login' %}">Login</a></div>
	</div>

{% endblock content %}